#related-amazon-rakuten-affiliate-items {
  width: 100%;
}

.related-amazon-rakuten-affiliate {
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
}

.related-amazon-rakuten-affiliate-thumbnail {
}

.related-amazon-rakuten-affiliate-content {
  text-size: 0.5em;
  padding-top: 5px;
  line-height: 100%;
}

#related-amazon-rakuten-affiliate-powered-by{
  width: 100%;
  text-align: right;
  font-size: 5px;
}

